.loading {
    background-color: rgb(241, 241, 241);
    height: 100vh;
}
svg {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
