.notfound-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #f3f7f8;
}

.notfound-section > h2,
.notfound-section > p {
    text-align: center;
}

.notfound-button {
    position: absolute;
    left: 50%;

    transform: translate(-50%, -50%);
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 4px 4px #f79595;

    background-color: tomato;
    color: white;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
