.book {
    width: 140px;
}

.book-title {
    font-weight: 600;
    color: #737373;
    font-size: 0.86rem;
}

.book-title {
    margin-top: 10px;
}

.book-authors {
    font-weight: 400;
    font-size: 0.75rem;
    color: #999;
}

.book-top {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.book-cover {
    box-shadow: 0 5px 15px grey;
    background: #eee;
    border-radius: 3px;
}
