.bookshelf-title {
  position: relative;
  z-index: 2;

  color: #737373;
  text-align: center;
  border-bottom: 1px solid #dedede;
}

.bookshelf-title::after {
  content: "";

  position: absolute;
  bottom: 6px;
  left: 47.2%;
  z-index: -1;

  height: 12px;
  transform: translateX(-50%);
  border-radius: 5px;

  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    100% 100%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    0 0
  );
}

.currentlyReading::after {
  width: 230px;
  background-image: linear-gradient(to right bottom, #8beea4, #dbfae0);
}

.wantToRead::after {
  width: 170px;
  background-image: linear-gradient(to right bottom, #f8998d, #fdd5cf);
}

.read::after {
  width: 70px;
  background-image: linear-gradient(to right bottom, #fa9644, #ffdd9a);
}

.bookshelf-books {
  text-align: center;
}

/* books grid */

.books-grid {
  display: flex;
  padding: 0;
  margin: 0;

  justify-content: center;
  flex-wrap: wrap;

  list-style-type: none;
}

.books-grid li {
  padding: 10px 20px;
  text-align: left;
}
.item-number {
  font-size: 1.2rem;
  font-weight: 200;
}
